#home {
    padding-top: 20%;
    padding-bottom: 18%;
    background-color: rgb(219, 221, 250);
}

#home .foto {
    width: 20%;
    border-radius: 50%;
}

#about {
    margin-top: 30px;
    margin-bottom: 70px;
}

#about .foto {
    float: inline-start;
    width: 100%;
    border-radius: 10px;
}

#about .tentang-saya {
    font-size: 18px;
}

#portfolio {
    background-color: rgb(219, 221, 250);
    padding-top: 30px;
    padding-bottom: 70px;
}

#blog {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 70px;
}

#team {
    background-color: rgb(219, 221, 250);
    padding-top: 30px;
    padding-bottom: 70px;
}

#team .foto {
    width: 70%;
    border-radius: 50%;
    padding: 10px;
}

#contact {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 70px;
}